canvas {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /*top: 0px;
    left: 0px;*/
    position: fixed;
    object-fit: contain;
}

.collecting {
    left: 50%;
    transform: translate(-50%, 0%);
    position: fixed;
    animation-iteration-count: infinite;
    animation: scale 4s infinite ease-in-out;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
}

@keyframes scale {
    0% {
        width: calc(20% + 80px);
    }

    50% {
        width: calc(20% + 90px);
    }

    100% {
        width: calc(20% + 80px);
    }
}

body {
    background-color: black;
    overflow: hidden;
}

* {
    user-select: none;
    -webkit-user-select: none;
}

.loader {
    transform: translate(-50%, -50%);
    /*top: 0px;
    left: 0px;*/
    position: relative;
    background-color: rgb(32, 32, 32);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 5px;
    font-size: 12px;
    width: 200px;
    border-radius: 2px;
    height: 10px;
    padding: 1px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    outline: 2px solid #00000020;
}

.loader p {
    margin-left: 10px;
    font-size: 15px;
    position: fixed;
}

.bar {
    width: 0px;
    height: 100%;
    background: #ffffff;
    border-radius: 2px;
}

#loadbackground {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    image-rendering: optimizeSpeed;
}

.loadingDance {
    transform: translate(calc(-50% + 20px), 0%);
    width: 256px;
    height: 256px;
    user-select: none;
    -webkit-user-drag: none;
}

.collectingDroplets {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(100%, 100%) translate(0%, -50%);
}
.collectingDroplets p {
    transform: translate(-50%, 0%);
    color: #ffffff;
    text-align: center;
    font-family: Indie Flower;
    opacity: 0.5;
}

@font-face {
    font-family: Indie Flower;
    src: url(Fonts/IndieFlower-Regular.ttf);
}