
        button {
            font-family: 'Lexend', sans-serif;
            padding: 0.6vw 1.1vw;
            border: 0.15vw solid #1357a5; 
            border-radius: 0.5vw;
            background-color: transparent; 
            color: #ffffff; 
            font-size: 1vw;
            margin: 0.3vw;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        
        button:hover {
            background-color: #3f91ee;
            color: rgb(43, 43, 43); 
        }

        .extrabox {
            background-color: #000000;
            border: 0.15vw solid #1357a5; 
            border-radius: 0.5vw; 
            padding: 1vw;
            height: auto;
            width: 30vw;
            margin: auto; 
            text-align: center;
            margin-top: 1vw;

        }

        .menu-container {
            text-align: center;
            margin-top: 2.6vw; 
        }


        .extras-title {
            font-size: 1.565vw;
            font-weight: bold;
            margin-bottom: 1.04vw;
            color: white;
        }
        .settingshead {
            color: white;
            margin-top: 5.208vw;
            font-size: 3.125vw;
        }

.extras-description {
    color: white;
    font-size: 0.9vw;
    margin-top: 0.52vw;
}

.settings-title p {
    font-size: 0.9vw;
    color: white;
    margin-top: 0.52vw;
}
