
    .infobox {
        background-color: #000000;
        border: 0.15vw solid #1357a5; 
        border-radius: 0.5vw; 
        padding: 1vw;
        height: auto;
        width: 50vw;
        margin: auto; 
        text-align: center;
        margin-top: 0.5vw;

        }

    .menu-container {
        text-align: center;
        margin-top: 1vw; 
     }


    .info-title {
        font-size: 2vw;
        font-weight: bold;
        margin-bottom: 1.04vw;
        color: white;
        }
     

    .info-description {
        color: white;
        font-size: 1vw;
        margin-top: 2vw;
        }

    button {
            font-family: 'Lexend', sans-serif;
            padding: 0.6vw 1.1vw;
            border: 0.15vw solid #1357a5; 
            border-radius: 0.5vw;
            background-color: transparent; 
            color: #ffffff; 
            font-size: 1vw;
            margin: 0.3vw;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        
        button:hover {
            background-color: #3f91ee;
            color: rgb(43, 43, 43); 
        }


