
        button {
            font-family: 'Lexend', sans-serif;
            padding: 0.6vw 1.1vw;
            border: 0.15vw solid #1357a5; 
            border-radius: 0.5vw;
            background-color: transparent; 
            color: #ffffff; 
            font-size: 1vw;
            margin: 0.3vw;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        
        button:hover {
            background-color: #3f91ee;
            color: rgb(43, 43, 43); 
        }

        .settingbox {
            background-color: #000000;
            border: 0.15vw solid #1357a5; 
            border-radius: 0.5vw; 
            padding: 1vw;
            height: auto;
            width: 30vw;
            margin: auto; 
            text-align: center;
            margin-top: 1vw;
        }
        .settingbox input[type="checkbox"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 0.5vw;
            height: 0.5vw;
            background-color: rgb(34, 34, 34); 
            border: 0.14vw solid #1357a5; 
            border-radius: 0.208vw;
            margin-left: 0.521vw; 
            vertical-align: middle;
            transition: transform 0.3s ease, background-color 0.3s ease; 
        }
        .menu input[type="checkbox"]:checked {
            background-color: #1357a5; 
        }
        .menu input[type="checkbox"]:hover {
            transform: scale(1.2); 
        }

        .menu-container {
            text-align: center;
            margin-top: 2.6vw; 
        }


        .settings-title {
            font-size: 1.565vw;
            font-weight: bold;
            margin-bottom: 1.04vw;
            color: white;
        }
        .settingshead {
            color: white;
            margin-top: 5.208vw;
            font-size: 3.125vw;
        }

        .entertext1 {
    background-color: rgba(34, 34, 34); 
    border: 0.15vw solid #1357a5; 
    border-radius: 0.52vw; 
    padding: 0.42vw;
    color: white; 
    outline: none; 
}

.entertext2 {
    background-color: rgba(34, 34, 34); 
    border: 0.15vw solid #1357a5; 
    border-radius: 0.52vw; 
    padding: 0.42vw; 
    color: white;
    outline: none; 
}

.settings-description {
    color: white;
    font-size: 0.9vw;
    margin-top: 0.52vw;
}

.settings-title p {
    font-size: 0.9vw;
    color: white;
    margin-top: 0.52vw;
}
